.news-in-section{
    padding: 40px 0;
}
.news-menu-li{
    font-family: $Dejavusanscaps;
    font-size: 18px;
    text-transform: uppercase;
    color: $Grey;
}
.menu-icon{
    margin-right: 5px;
}
.news-in-wrapper-main{
    margin-top: 30px;
    background: rgba(158, 158, 158,0.1);
    padding: 30px 30px 40px 30px;
}
.news-in-title{
    font-weight: bold;
}
.news-menu-ul{
    align-items: center;
}
.menu__arrow{
    margin: 0 5px;
}