// FONTS

$Dejavusanscaps: 'BPG_DejaVuSansCaps';
$Dejavusans: '!BPG! DejaVu Sans';


// COLORS
$White:    #ffffff;
$White-2:  #f1f1f1;
$Black:    #000000;
$Black-1:  #181818;
$Black-2:  #535353;
$Green-1:  #45eba5;
$Green-2:  #0e918b;
$Green-3:  #2dafaa;
$Green-4:  #0E918B;
$Grey:     #8a8a8a;